<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <article class="post" th:fragment="main-post(curitem)">
        <header>
            <div class="title">
                <h2><a href="#" th:text="${curitem.getTitle()}"></a></h2>
                <p th:text="${curitem.getTitleCaption()}"></p>
            </div>
            <div class="meta">
                <time class="published" th:text="${curitem.getPostDateDisplay()}">November 1, 2015</time>
                <a href="#" class="author"><span class="name" th:text="${curitem.getUserName()}"></span><img src="images/avatar.jpg" alt="" /></a>
            </div>
        </header>
        <a href="#" class="image featured"><img th:src="${'images/'+curitem.getPostPhoto()}" alt="" /></a>
        <p th:text="${curitem.getBody()}"></p>
        <footer>
            <!--<ul class="actions">
                <li><a href="#" class="button big">Continue Reading</a></li>
            </ul>-->
            <ul class="stats">
                <li><a href="#" th:text="${curitem.getCategory()}"></a></li>
                <li><a href="#" class="icon fa-heart">28</a></li>
                <li><a href="#" class="icon fa-comment">128</a></li>
            </ul>
        </footer>
    </article>
</body>
</html>