<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="index">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <div class="post" layout:fragment="content">
        <div>Login:</div>
        <form action="#" th:action="@{/login}" method="post">
            User:
            <input type="text" id="username" name="username" />
            Password:
            <input type="password" id="password" name="password" />
            <button id="logIn" type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>